/* Custom Navbar Styling */
.navbar {
    background-color: white;
    border-bottom: 1px solid black;
}

.navbar-brand {
    color: black !important;
    font-size: 1.8rem;
}

.nav-link {
    color: black !important;
}

.profile-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/* Table Styling */
table {
    width: 100%;
    margin: 20px 0;
}

    table th, table td {
        color: black;
        padding: 15px;
        text-align: center;
    }

    table th {
        background-color: black;
        color: white;
    }

    table td {
        background-color: white;
    }

    table tr th a {
        text-transform: capitalize;
        text-decoration: none;
        color: black;
    }

/* Background */
body {
    background-color: #f4f7fc;
    padding-top: 60px;
}

.container {
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Button Styling */
.btn {
    margin: 5px;
}

#LinkButton1 {
    color: black;
    text-decoration: none;
    text-transform: capitalize;
}

/* Responsive Design */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.5rem;
    }
}
